---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = '株式会社Lumilinks | デザインと、開発と、コミュニティの会社',
  description = 'Lumilinks（ルミリンクス）はデザイナーのこぎそが運営する小さな会社です。デザインとエンジニアリングを軸に、AIなどのテクノロジーを駆使し、人と人をつなぎ、新しい価値をつくります。',
} = Astro.props;

import '../css/global.css';
---

<!doctype html>
<html lang="ja" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Lumilinks" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta property="og:image" content="https://lumilinks.jp/ogp.png" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="robots" content="noindex" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <script
      is:inline
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-1R2H4VCDHH"></script>
    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-1R2H4VCDHH');
    </script>
    <title>{title}</title>
    <script is:inline>
      // クライアントサイドでのテーマ初期化スクリプト
      const theme = (() => {
        if (
          typeof localStorage !== 'undefined' &&
          localStorage.getItem('theme')
        ) {
          return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();

      if (theme === 'dark') {
        document.documentElement.classList.add('dark');
        document.documentElement.classList.remove('light');
      } else {
        document.documentElement.classList.remove('dark');
        document.documentElement.classList.add('light');
      }
    </script>
  </head>
  <body class="bg-white text-black dark:bg-black dark:text-white duration-300">
    <div
      class="box-content max-w-(--body-column) pr-(--body-padding-right) pl-(--body-padding-left) *:mx-auto *:w-[round(down,100%,1rem)]"
    >
      <slot />
      <footer class="mt-32 pb-16">
        <address class="not-italic">
          Copyright Lumilinks inc. ALL Rights Reserved.
        </address>
      </footer>
    </div>
  </body>
</html>
